* {
    margin: 0;
    padding: 0;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

header {
  background-image: url("global_business.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}

.text1 {
  font-family: "メイリオ";
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.subscription {
  text-align: center;
}

.subscription a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.text2 {
  font-family: "メイリオ";
  font-weight: bold;
  color: white;
  text-align: left;
  vertical-align: bottom;
}

.top-copy1 {
  font-size: 28px;
}

.top-copy2 {
  font-size: 18px;
  text-align: center;
}





