* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "メイリオ", Meiryo, YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

header {
  background-image: url("global_business.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}

.text1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-left: 50px;
}

.subscription {
  text-align: center;
}

.subscription a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.text2 {
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: bottom;
  padding-right: 50px;
}

.top-copy1 {
  font-size: 28px;
}

.top-copy2 {
  font-size: 18px;
}

.corner-title {
  font-size: 40px;
  font-weight: bold;
  color: #333399;
  text-align: center;
  padding-top: 10px;
}

.advantage-icon {
  text-align: center;
  margin: 15px;
}

.advantage-icon img {
  height: 200px;
  width: auto;
  padding-bottom: 10px;
}

#news h2 {
  color: blue;
}

#discussion h2 {
  color: green;
}

#english-camp h2 {
  color: orange;
}

.advantage-text h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.advantage-text h3 {
  font-size: 12px;
}
